.underwriter-primary-container{
    background: linear-gradient(90deg, rgb(23, 4, 104) 0%, rgb(129, 134, 150) 100%);
    margin-top: 20px;
    padding: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    }

    .underwriter-secondary-container {
        display:grid;
       justify-content: center;
        align-items: center;
        max-width: 1500px;
        background: linear-gradient(90deg, rgb(31, 10, 221) 0%, rgb(236, 230, 230)100%);
        padding-top: 10px;
        padding-bottom: 80px;
        }
 
    h1 {
    font-size: 2.5rem;
    margin: 20px;
    }

    table,td,th {
    font-size: 1.5rem; 
    border: 1px solid rgb(2, 2, 2); 
    background-color: #fff;
    }
    p {
    font-size: 2.5rem;
    margin: 10px;
    }

    :root{
    --primary : rgb(55, 53, 177);
    }

    button{
        margin: 0px;
        padding:8px 20px;
        border-radius: 2px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: var(--primary);
        color: #080808ea;
        border: 1px solid var(--primary);
        transition: all 0.3s ease-out;
        font-size: 2.0rem;
     
        }
    
        button:hover {
        background: #fff;
        color: #242424;
        transition: all 0.3s ease-out;    
        }



 @media screen and (max-width: 960px) {
    .underwriter-primary-container{
        padding: 60px;
        padding-top: 70px;
        padding-bottom: 70px;
        }
    .underwriter-secondary-container{
        padding-top: 10px;
        padding-bottom: 80px;
    }

    h1 {
    font-size: 1.5rem;
    margin: 10px;
    }
    
    p {
    font-size: 1.5rem;
    margin: 10px;
    }
        
    button{
    margin: 20px;
    font-size: 1.5rem;
    }
    
}  